@model IEnumerable<PracticeProject.Models.Employee>

@{
    ViewData["Title"] = "Display";
}
<a asp-action="Create" asp-controller="Home" class="create-button button m-1">Create New Employee</a>
<table class="table th">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-30">
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th class="col-md-1 center">
                Update
            </th>
            <th class="col-md-1 center">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Modelitem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td class="center">
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id" class="update-button">Update</a>
                </td>
                <td class="center">
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" class="delete-button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
