@model IEnumerable<PracticeProject.Models.Department>

<div class="container-fluid">
    <a asp-action="Create" asp-controller="Department" class="create-button button m-1 a">Create New Employee</a>
    <table class="table th">
        <thead>
            <tr>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Department_Name)
                </th>
                <th class="col-md-1 center">
                    Update
                </th>
                <th class="col-md-1 center">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Modelitem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department_Name)
                    </td>
                    <td class="center">
                        <a asp-action="Edit" asp-controller="Department" asp-route-id="@item.Id" class="update-button a">Update</a>
                    </td>
                    <td class="center">
                        <a asp-action="Delete" asp-controller="Department" asp-route-id="@item.Id" class="delete-button a">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
